body {
  margin:0;
  background:#ddd;
  overflow-x:hidden;
  overflow-y:auto;
  touch-action:pan-y;
}

main {
  width:100%;
  height:700vh;
}

.carousel {
  width:100vw;
  height:100vh;
  perspective:300px;
  overflow:hidden;
  opacity:0;
}

.card {
  position:absolute;
  left:50%;
  top:50%;
  width:60%;
  height:80%;
  max-width:400px;
  max-height:600px;
  border-radius:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:3rem;
  font-family:monospace;
  color:#fff;
}

.arrow {
  position:fixed;
  bottom:5vh;
  left:50%;
  height:8vh;
}
